@import '//fonts.googleapis.com/css?family=Lato';

.options {
	font-family: 'Lato', sans-serif;
}

.op {
	width: 100%;
	margin-top: 20px;
	display: inline-block;
	line-height: 3em;
	text-align: center;
	background: #d90;
	border-radius: 20px;
	color: #fff;
	transition: 0.2s;
	cursor: pointer;
}

.op.correct {
    background: #28a745;
    color: white;
}