@import '//fonts.googleapis.com/css?family=Lato';

.options {
	width: 350px;
	margin: 0 auto;
	font-family: 'Lato', sans-serif;
}
.op {
	width: 45%;
	margin-top: 20px;
	display: inline-block;
	line-height: 3em;
	text-align: center;
	background: #d90;
	border-radius: 20px;
	color: #fff;
	transition: 0.2s;
	cursor: pointer;
}

.op:nth-of-type(even) {
	float: right;
}

.op.selected {
    background: #ffcc00;
}

.op.correct {
    background: #28a745;
    color: white;
}

.op.incorrect {
    background: #dc3545;
    color: white;
}