/* Winners Page Styles */
div {
    text-align: center;
    margin: 20px;
  }
  
  h1 {
    font-size: 2rem;
    color: #4CAF50;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    background-color: #f9f9f9;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    font-size: 1.2rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .new-winner-notification {
    background-color: #e7f7e7;
    color: #4CAF50;
    padding: 15px;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .new-winner-notification h2 {
    margin: 0;
    font-size: 1.5rem;
  }
  
  .new-winner-notification p {
    margin: 5px 0;
  }
  