@import url('//fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Amatic+SC');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

:root {
  --bg-color: #b394c9;
  --primary-color: #800080;
  --primary-hover: #dd10dd;
  --secondary-color: #000000;
  --secondary-hover: #737e74;
  --primary-text-color: #fff;
  --secondary-text-color: #000000;
  --error-color: red;
  --disabled-color: #f0f0f0;
  --background-light: #f9f9f9;
  --border-radius: 8px;
  --option-bg-color: #d90;
  --option-bg-hover-color: #b76e00;
  --correct-answer-bg-color: #28a745;
  --correct-answer-bg-hover-color: #1e7e34;

  user-select: none;

  font-family: "Amatic SC, sans-serif";
}

body,
#root {
  background-color: var(--bg-color);
  margin: 0;
  font-family: Amatic SC, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn {
  line-height: 2em;
  text-align: center;
  border-radius: 20px;
  transition: 0.2s;
  cursor: pointer;
}

.primary {
  background: #800080;
  color: #fff;
}

.secondary {
  background: #000000;
  color: #fff;
}

input {
  line-height: 2em;
  border-radius: 5px;
}